@import "../styles/global.scss";

.container {
  position: relative;
  height: 100%;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    backface-visibility: hidden;
    opacity: 0.5;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    backface-visibility: hidden;
    opacity: 0.5;
  }
  &.line1 {
    &::before {
      height: 0.1rem;
      animation: moveLine2 8s linear infinite;
    }
    &::after {
      width: 0.1rem;
      animation: moveLine1 12s linear infinite;
    }
  }
  &.line2 {
    &::before {
      height: 0.3rem;
      animation: moveLine2 10s linear infinite;
    }
    &::after {
      width: 0.3rem;
      animation: moveLine1 14s linear infinite;
    }
  }
  &.line3 {
    &::before {
      height: 0.6rem;
      animation: moveLine2 14s linear infinite;
    }
    &::after {
      width: 0.6rem;
      animation: moveLine1 16s linear infinite;
    }
  }
  &.line4 {
    &::before {
      height: 1rem;
      animation: moveLine2 16s linear infinite;
    }
    &::after {
      width: 1rem;
      animation: moveLine1 20s linear infinite;
    }
  }
}

@keyframes moveLine1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes moveLine2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}


// tile
.title {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
  @include min-md {
    font-size: 7rem;
  }
  @include min-lg {
    font-size: 10rem;
  }
}
.text {
  display: inline-block;
  position: relative;
  // &::after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  //   width: 3px;
  //   height: 1em;
  //   background-color: $color-font-white;
  //   animation: titleUnderLine 1s linear infinite;
  // }
}

// @keyframes titleUnderLine {
//   0% {
//     visibility: hidden;
//   }
//   50% {
//     visibility: hidden;
//   }
//   100% {
//     visibility: visible;
//   }
// }